//
// Created by Moritz on 04.06.2021.
//

#ifndef FASTMARCHING_SETTINGS_H
#define FASTMARCHING_SETTINGS_H
namespace settings{
    constexpr short x_grid_size {glob_gs_ph};
    constexpr short y_grid_size {glob_gs_ph};
    constexpr short z_grid_size {glob_gs_ph};
    constexpr int total_grid_size {x_grid_size*y_grid_size*z_grid_size};
    constexpr double h{1.0/(glob_gs_ph-1)};
}
#endif //FASTMARCHING_SETTINGS_H
